<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
    <h5 class="font-popular-light topper"><span class="font-popular-medium"><a href="https://www.startribune.com/local/coronavirus/">Coronavirus</a></span></h5>
    <h1>A look at Minnesota's digital divide during a pandemic</h1>
    <div class="byline">
      <address>By
        <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
      </address>
      <span class="spacer"></span>
      Star Tribune
      <span class="spacer-alt"></span>
      <time pubdate datetime="2020-02-04:00:00">April 13, 2020</time>
    </div>
    <p></p>
    <!-- share -->
  </section>
  
  <div class="container-lg elex-main">

    <section class="leadin">
      <p>With workplaces, schools and libraries closed while Minnesotans are sequestered at home to combat COVID-19’s spread, those without adequate online access may experience additional hardships and isolation during the quarantine.</p>

      <p>Data from the last American Community Survey show more than 330,000 Minnesotans lack home internet connectivity – and a similar number don’t even have computers – making remote work, continuing education and accessing basic government services in a time of pandemic even more challenging.</p>
      
      <p>Though the <a href="https://www.startribune.com/internet-access-across-minnesota-has-improved-but-still-gaps-for-some/444512163/">state's digital divide has gradually narrowed over time</a>, the poorest and most vulnerable still struggle keeping technological pace.</p>
      
      <p>And even among those who do have home internet access, it’s not always fast enough, since about 10 percent of Minnesota households don’t have high-speed broadband connections (with roughly 10,000 statewide still using dial-up).</p>
      
      <p>Rural regions of the state <a href="https://www.startribune.com/covid-19-pandemic-highlights-broadband-divide-in-rural-minnesota/569541472/">still struggle with accessing quality wired internet</a>, with <a href="https://mn.gov/deed/assets/infrastructure-grant_tcm1045-134198.pdf" target="new_">many areas unserved or underserved</a> despite years-long strides that have gradually improved connectivity in greater Minnesota.</p>
      
      <p>In the Twin Cities metro area, this technological gap is also pronounced in Northside and central Minneapolis, where a quarter or more of some census tracts <a href="https://www.startribune.com/internet-access-in-minneapolis-is-still-divided-between-haves-have-nots/369682871/">still aren’t online</a> via home subscription, according to the most recent federal surveys. These trends extend into the some of the city’s less prosperous northern suburbs.</p>
    </section>

    <div class="slide">
      <div class="center">
        <div id="mainlegend">Percent without internet subscriptions</div>
        <div class="legend"><div class="null"></div><div class="blue1"></div><div class="blue2"></div><div class="blue3"></div><div class="blue4"></div><div class="blue5"></div></div>
        <div class="legend2"><div class="white">0%</div><div class="white">5%</div><div class="white">10%</div><div class="white">20%</div><div class="white">30%</div> <div class="white">40%</div></div>
      </div>
      <div class="map" id="map"></div>
    </div>

    <section class="body">
      <p>Individuals most affected by these technological disparities are often found among nonwhite, elderly, less educated and lower income populations, census data shows.</p>

      <p>Income is seemingly the biggest predictor of online connectivity, with issues of cost surrounding quality internet access raising a significant barrier for the poorest residents.</p>
      
      <p>In response, the outdoor citywide USI Wireless service in Minneapolis <a href="http://www.minneapolismn.gov/wireless/index.htm" target="new_">has been made freely available</a> during COVID-19 quarantines. Comcast, similarly, has opened its Xfinity wi-fi network and is offering free unlimited data for the time being, and various wireless providers have lifted their usage caps.</p>
    </section>

    <div class="slide">
      <iframe title="Highlighting Minnesota's technologically vulnerable" aria-label="Split Bars" id="datawrapper-chart-E62Rx" src="//datawrapper.dwcdn.net/E62Rx/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="616"></iframe>
    </div>

    <section class="body">
      <p>And reliable online access is just one component of being adequately connected in the digital age.</p>

      <p>Though wireless internet use on mobile phones has <a href="https://www.startribune.com/ownership-of-digital-devices-reaches-new-high-in-minnesota/445806323/">significantly increased over time</a>, wired broadband through a personal computer is still a consistently more viable option for submitting paperwork, finishing homework and working with commonplace applications like spreadsheets, image editing software and word processors – programs that may have less-capable smartphone versions available.</p>
      
      <p>Data show about a fifth of Minnesota households lack more powerful devices like desktops and laptops, while about 8 percent don’t have any computing technology at all.</p>      
    </section>

    <div class="slide">
      <iframe title="Some Minnesotans lack sufficient computing devices" aria-label="Bar Chart" id="datawrapper-chart-okXx5" src="//datawrapper.dwcdn.net/okXx5/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="278"></iframe>
    </div>

    <section class="body">
      <p>Even those connected at home may currently be experiencing sluggish speeds, buffering and interuptions as service providers try keeping up with increased demand during the governor's shelter-in-place order.</p>

      <p>Still, Minnesota could be worse off, and hovers around the top dozen states nationally for broadband access at home, and is the most connected in its five-state region.</p>

      <p>In a time of global crisis, about 17.8 million American households are still without a home broadband subscription and roughly 10 million don’t have computers.</p>
    </section>

    <section class="container-lg">
        <div class="article-author-contact">
          <div class="article-author-hcard">
              <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
              <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Thousands of people have voted early in Minnesota's presidential primary. Here's what to watch." data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
              <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
              <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
        </div>
      </div>
    </section>
  </div>
</div>


<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
